body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fffff0;
  background-image: url('https://wallpapercave.com/wp/wp3444088.jpg');
}

/* Header */
.header {
  background-color: #000000;
  width: 100%;
  height: 120px;
  position: fixed;
}

.caixa {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80px;
}

.header nav {
  float: right;
}

ul {
  list-style: none;
}

ul li:hover {
  color: #e0b0ff;
}

ul li {
  font-family: PT Sans, sans-serif, Impact;
  color: #fffff0;
  display: inline;
  margin-left: 22px;
  font-size: larger;
  transition-duration: 0.4s;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Em Alta */

.box_home {
  padding-top: 160px;
}

.box_fileira {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.box_rosa {
  margin-right: 20px;
  margin-left: 20px;
  height: 400px;
  width: 400px;
  background-color: #000000;
  border-radius: 10px;
  opacity: 1;
  border-color: #1981d3;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.box_rosa span{
  color: #e0b0ff;
  font-family: PT Sans, sans-serif, Impact;
  font-size: 22px;
  cursor: default;
}

.box_rosa h3{
  color: #ffffff;
  font-family: PT Sans, sans-serif, Impact;
  font-size: 22px;
  margin-bottom: 50px;
  margin-top: 45px;
  cursor: default;
}

.box_rosa h4{
  color: #ffffff;
  font-family: PT Sans, sans-serif, Impact;
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 45px;
  cursor: default;
}

.box_rosa img{
  height: 105px;
  opacity: 0.75;
}

.box_rosa img:hover{
  height: 105px;
  opacity: 1;
  cursor: pointer;
}

.box_rosa button{
  font-family: PT Sans, sans-serif, Impact;
  font-size: 20px;
  background-color: #e0b0ff;
  color: #ffffff;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
}

.box_rosa button:hover{
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.box_rosa2 {
  margin-right: 20px;
  margin-left: 20px;
  height: 300px;
  width: 1280px;
  background-color: #000000;
  border-radius: 10px;
  opacity: 1;
  border-color: #1981d3;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.box_rosa2 span{
  color: #e0b0ff;
  font-family: PT Sans, sans-serif, Impact;
  font-size: 22px;
  cursor: default;
}

.box_rosa2 h3{
  color: #ffffff;
  font-family: PT Sans, sans-serif, Impact;
  font-size: 22px;
  margin-top: 45px;
  cursor: default;
}

.box_rosa2 h4{
  color: #ffffff;
  font-family: PT Sans, sans-serif, Impact;
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 45px;
  cursor: default;
}

.box_rosa2 img{
  height: 105px;
  opacity: 0.75;
}

.box_rosa2 img:hover{
  height: 105px;
  opacity: 1;
  cursor: pointer;
}

.box_rosa2 button{
  font-family: PT Sans, sans-serif, Impact;
  font-size: 20px;
  background-color: #e0b0ff;
  color: #ffffff;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
}

.box_rosa2 button:hover{
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.box_container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div_audio {
  margin-left: 50px;
}

/* Configurações da tag "audio" */
audio::-webkit-media-controls-panel {
  background-color: #e0b0ff;
}

audio::-webkit-media-controls-panel:hover {
  background-color: #DD95E8;
}