body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fffff0;
    background-image: url('https://thumbs.gfycat.com/OptimisticSnivelingAmericanshorthair-max-1mb.gif');
}

/* Header */
.header {
    background-color: #000000;
    width: 100%;
    height: 120px;
    position: fixed;
}

.caixa {
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

.header nav {
    float: right;
}

ul {
    list-style: none;
}

ul li:hover {
    color: #e0b0ff;
}

ul li {
    font-family: PT Sans, sans-serif, Impact;
    color: #fffff0;
    display: inline;
    margin-left: 22px;
    font-size: larger;
    transition-duration: 0.4s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* Top Things */

.box_home {
    padding-top: 120px;
}

.box_fileira {
    height: 390px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
}

.box_fileira2 {
    height: 390px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 2.5%;
}

.box_fileira3 {
    height: 390px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 2.5%;
}

.box_fileira img {
    height: 490px;
}

.box_fileira2 img {
    height: 490px;
    
}

.box_fileira3 img {
    height: 600px;
    
}

.div_title {
    padding-top: 120px;
    text-align: center;
    padding-bottom: 80px;
}

.div_title h3 {
    color: #fffff0;
    font-family: PT Sans, sans-serif, Impact;
    font-size: 50px;
    cursor: default;
}

.box_fileira3 button {
    font-family: PT Sans, sans-serif, Impact;
    font-size: 20px;
    background-color: #30136B;
    color: #ffffff;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.box_fileira3 button:hover{
    font-family: PT Sans, sans-serif, Impact;
    font-size: 22px;
    background-color: #30136B;
    color: #ffffff;
    width: 270px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Configurações da barra de rolagem */
::-webkit-scrollbar {
    height: 20px;
    background-color: #000000;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #30136B;
}