body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fffff0;
    background-image: url('https://i.pinimg.com/originals/3f/6a/94/3f6a946e7802cc6af9d8ab625ef79eb5.jpg');
}

/* Header */
.header {
    background-color: #000000;
    width: 100%;
    height: 120px;
    position: fixed;
}

.caixa {
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

.header nav {
    float: right;
}

ul {
    list-style: none;
}

ul li:hover {
    color: #e0b0ff;
}

ul li {
    font-family: PT Sans, sans-serif, Impact;
    color: #fffff0;
    display: inline;
    margin-left: 22px;
    font-size: larger;
    transition-duration: 0.4s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* Top Things */

.box_home {
    padding-top: 120px;
}

.box_fileira {
    height: 390px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_rosa img {
    margin-right: 20px;
    height: 350px;
    width: 350px;
    background-color: #8dbcd0;
    border-style: solid;
    border-color: #ebede4;
    border-radius: 10px;
    cursor: pointer;
}

.box_rosa2 img {
    margin-left: 20px;
    height: 350px;
    width: 350px;
    background-color: #8dbcd0;
    border-style: solid;
    border-color: #ebede4;
    border-radius: 10px;
    cursor: pointer;
}

.box_rosa img:hover {
    margin-right: 20px;
    height: 350px;
    width: 350px;
    background-color: #8dbcd0;
    border-style: solid;
    border-color: #e0b0ff;
    border-radius: 10px;
    cursor: pointer;
}

.box_rosa2 img:hover {
    margin-left: 20px;
    height: 350px;
    width: 350px;
    background-color: #8dbcd0;
    border-style: solid;
    border-color: #e0b0ff;
    border-radius: 10px;
    cursor: pointer;
}

.div_title {
    padding-top: 130px;
    text-align: center;
}

.div_title h2 {
    color: #fffff0;
    font-family: PT Sans, sans-serif, Impact;
    font-size: 50px;
    cursor: default;
}

/* Footer */

.caixa h2 {
    padding-top: 150px;
    color: #fffff0;
    font-family: PT Sans, sans-serif, Impact;
    font-size: 40px;
    background-color: #000000;
}

.caixa h2:hover {
    color: #e0b0ff;
    font-family: PT Sans, sans-serif, Impact;
    font-size: 40px;
    background-color: #000000;
}

.social_icons img {
    height: 40px;
}

.footer {
    width: 100%;
    height: 60px;
    position: fixed;
}